@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

/* Estilos gerais */
body {
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove espaçamento padrão */
}

/* Estilos do popup */
#popupDefeat {
    position: fixed; /* Fixa o popup na tela */
    top: 0; /* Início do topo da tela */
    left: 0; /* Início do lado esquerdo da tela */
    width: 100%; /* Largura total da tela */
    height: 100%; /* Altura total da tela */
    background-color: rgba(0, 0, 0, 0.7); /* Fundo escuro e mais opaco */
    display: flex; /* Flexbox para centralização */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    z-index: 1000; /* Garante que o popup esteja acima de outros elementos */
}

/* Conteúdo do popup */
.popup-contentDefeat {
    display: grid;
    place-items: center;
    line-height: 23px;
    width: 450px;
    height: 350px;
    font-family: "Red Hat Display";
    background-color: #fff; /* Fundo branco para o conteúdo */
    padding-left: 40px; /* Espaçamento interno */
    padding-right: 40px;
    padding-top: 70px;
    padding-bottom: 70px;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra para destaque */
    position: relative; /* Para o botão de fechar */
}

.close-button {
    cursor: pointer; /* Cursor de mão para indicar interatividade */
    position: absolute; /* Posiciona o botão de fechar */
    top: 10px; /* Distância do topo */
    right: 15px; /* Distância da direita */
    font-size: 35px; /* Tamanho da fonte */
    color: #333; /* Cor do texto */
}

.popup-contentDefeat h2 {
    padding-bottom: 1px;
    font-size: 40px; /* Tamanho do título */
    color: #333; /* Cor do título */
    font-weight: bold;
}

.popup-contentDefeat h3 {
    padding-top: 10px;
    font-size: 20px;
}

.popup-contentDefeat img {
    width: 30px;
    padding-right: 7px;
}

#defeatButton {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

#guessTheWord {
    margin-top: 10px;
}

#defeatImg {
    width: 50px;
    margin-bottom: 25px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Estilos do popup */
.popup-contentDefeat {
    animation: fadeIn 0.9s ease forwards; /* Animação ao aparecer */
}

.popup-contentDefeat.show {
    display: block; /* Exibe o popup com animação */
}