@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

/* Estilos gerais */
body {
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove espaçamento padrão */
}

header {
    padding: 10px; /* Espaçamento interno do cabeçalho */
    text-align: center; /* Centraliza o texto do cabeçalho */
}

/* Estilos do popup */
#popup {
    position: fixed; /* Fixa o popup na tela */
    top: 0; /* Início do topo da tela */
    left: 0; /* Início do lado esquerdo da tela */
    width: 100%; /* Largura total da tela */
    height: 100%; /* Altura total da tela */
    background-color: rgba(0, 0, 0, 0.7); /* Fundo escuro e mais opaco */
    display: flex; /* Flexbox para centralização */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    z-index: 1000; /* Garante que o popup esteja acima de outros elementos */
}

/* Conteúdo do popup */
.popup-content {
    line-height: 23px;
    width: 450px;
    height: 350px;
    font-family: "Red Hat Display";
    background-color: #fff; /* Fundo branco para o conteúdo */
    padding-left: 40px; /* Espaçamento interno */
    padding-right: 30px;
    padding-top: 70px;
    padding-bottom: 110px;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra para destaque */
    position: relative; /* Para o botão de fechar */
}

.close-button {
    cursor: pointer; /* Cursor de mão para indicar interatividade */
    position: absolute; /* Posiciona o botão de fechar */
    top: 10px; /* Distância do topo */
    right: 15px; /* Distância da direita */
    font-size: 35px; /* Tamanho da fonte */
    color: #333; /* Cor do texto */
}

.close-button:hover {
    border-radius: 5px;
    color: white;
    background-color: gray;
    transition: 0.2s;
 }

.popup-content h2 {
    padding-bottom: 1px;
    font-size: 25px; /* Tamanho do título */
    color: #333; /* Cor do título */
    font-weight: bold;
}

.popup-content h3 {
    padding-top: 10px;
    font-weight: bold;
}

.popup-content ul {
    list-style-type: disc;
    padding-left: 20px;
}

.popup-content p {
    padding-bottom: 12px;
}

.popup-content img {
    width: 230px;
}